html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h2 {
  margin: 10px 0;
  padding: 8px;
}

.sidebar {
  grid-row: 1 / span 2;
  padding-left: 50px;

  background-color: pink;
  border: 1px solid black;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.top > li,
.bottom > li {
  margin: 10px;
}

.header {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: repeat(2, 1fr);

  background-color: lightgreen;
  border: 1px solid black;
}

.search-bar {
  display: flex;
  align-items: center;

  position: relative;
}
.search-bar::before {
  position: absolute;

  content: "🔍";
  left: 8px;
}

.search-bar > input {
  border: none;
  flex: 1;
}

input:focus {
  box-shadow: 3px 3px 3px blue;
}
.header input {
  border-radius: 10px;
  margin: 15px 40px;
}

.main-content {
  background-color: lightgrey;
  border: 1px solid black;
}

.intro {
  display: flex;
  align-items: center;

  position: relative;
}

.icon i {
  position: absolute;
  top: 20px;
  left: 15px;
}

.profile {
  margin-left: 50px;
  flex: 1;
}

.files {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
}
.notifications {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.files div {
  border-radius: 50px;
  background: lightblue;
  text-align: center;
  margin: 5px;
  padding: 10px;
  flex: 1;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#wrapper {
  display: grid;
  grid-template-columns: 250px 850px;
  grid-template-rows: 15vh 85vh;

  max-width: 1100px;
  border: 1px solid black;
  margin: 20px auto;
}
