html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
h2 {
  padding: 8px;
}

.sidebar {
  grid-row: 1 / span 2;
  padding: 20px;

  background-color: pink;
  border: 1px solid black;
}

.dashboard-links {
  display: flex;
  flex-direction: column;
  align-content: space-between;

  gap: 50px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.top > li,
.bottom > li {
  margin: 10px;
}

.header {
  background-color: lightgreen;
  height: 15vh;
  border: 1px solid black;
}

.main-content {
  background-color: lightgrey;
  height: 85vh;
  border: 1px solid black;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(2, 1fr);

  max-width: 1100px;
  border: 1px solid black;
  margin: 20px auto;
  height: 100vh;
}
